In [142]:
%run Preprocessing.ipynb
import pandas as pd
import numpy as np
import nbimporter
import feature_engineering
from datetime import datetime, timedelta
from functools import reduce
import glob
import os
import warnings
print("done")
#%run Preprocessing.ipynb

warnings.simplefilter(action='ignore', category=FutureWarning)

done

# 1. Preprocessing

## 1.1 Climate Data

### 1.1.1 Climate Data - Import and downsampling to 15min steps

In [143]:
climate_data = ["Temperature", "Precipitation"]
station_names = ["Berlin", "BW", "NRW"]
temp_path =rf"C:\Users\Isabell\EMSI\emsi_ml\Wetter\{station}\{data}"
file_name = "produkt*"
date_column = "MESS_DATUM"
date_format = '%Y%m%d%H%M'

station_climate_list = []

for data in climate_data:
    for station in station_names:
        temperature_dic = importing_data(temp_path, file_name, date_column, date_format)
        for key, climate_df in temperature_dic.items():

            exclude_col = "DateTime"
            climate_df.columns = [station + col if col != exclude_col else col for col in climate_df.columns]
            nan_count = climate_df.isna().sum()
            print(nan_count)
        #print(temperature_dic)
        
        station_climate_list.append(temperature_dic)

#print(temperature_dic.keys())
print("done")

BerlinSTATIONS_ID    0
BerlinMESS_DATUM     0
Berlin  QN           0
BerlinPP_10          0
BerlinTT_10          0
BerlinTM5_10         0
BerlinRF_10          0
BerlinTD_10          0
Berlineor            0
DateTime             0
dtype: int64
BerlinSTATIONS_ID    0
BerlinMESS_DATUM     0
Berlin  QN           0
BerlinPP_10          0
BerlinTT_10          0
BerlinTM5_10         0
BerlinRF_10          0
BerlinTD_10          0
Berlineor            0
DateTime             0
dtype: int64
BerlinSTATIONS_ID    0
BerlinMESS_DATUM     0
Berlin  QN           0
BerlinPP_10          0
BerlinTT_10          0
BerlinTM5_10         0
BerlinRF_10          0
BerlinTD_10          0
Berlineor            0
DateTime             0
dtype: int64
BerlinSTATIONS_ID    0
BerlinMESS_DATUM     0
Berlin  QN           0
BerlinPP_10          0
BerlinTT_10          0
BerlinTM5_10         0
BerlinRF_10          0
BerlinTD_10          0
Berlineor            0
DateTime             0
dtype: int64
BerlinSTATIONS_ID    0
BerlinMESS_DATUM     0
Berlin  QN           0
BerlinPP_10          0
BerlinTT_10          0
BerlinTM5_10         0
BerlinRF_10          0
BerlinTD_10          0
Berlineor            0
DateTime             0
dtype: int64
BWSTATIONS_ID    0
BWMESS_DATUM     0
BW  QN           0
BWPP_10          0
BWTT_10          0
BWTM5_10         0
BWRF_10          0
BWTD_10          0
BWeor            0
DateTime         0
dtype: int64
BWSTATIONS_ID    0
BWMESS_DATUM     0
BW  QN           0
BWPP_10          0
BWTT_10          0
BWTM5_10         0
BWRF_10          0
BWTD_10          0
BWeor            0
DateTime         0
dtype: int64
BWSTATIONS_ID    0
BWMESS_DATUM     0
BW  QN           0
BWPP_10          0
BWTT_10          0
BWTM5_10         0
BWRF_10          0
BWTD_10          0
BWeor            0
DateTime         0
dtype: int64
BWSTATIONS_ID    0
BWMESS_DATUM     0
BW  QN           0
BWPP_10          0
BWTT_10          0
BWTM5_10         0
BWRF_10          0
BWTD_10          0
BWeor            0
DateTime         0
dtype: int64
BWSTATIONS_ID    0
BWMESS_DATUM     0
BW  QN           0
BWPP_10          0
BWTT_10          0
BWTM5_10         0
BWRF_10          0
BWTD_10          0
BWeor            0
DateTime         0
dtype: int64
NRWSTATIONS_ID    0
NRWMESS_DATUM     0
NRW  QN           0
NRWPP_10          0
NRWTT_10          0
NRWTM5_10         0
NRWRF_10          0
NRWTD_10          0
NRWeor            0
DateTime          0
dtype: int64
NRWSTATIONS_ID    0
NRWMESS_DATUM     0
NRW  QN           0
NRWPP_10          0
NRWTT_10          0
NRWTM5_10         0
NRWRF_10          0
NRWTD_10          0
NRWeor            0
DateTime          0
dtype: int64
NRWSTATIONS_ID    0
NRWMESS_DATUM     0
NRW  QN           0
NRWPP_10          0
NRWTT_10          0
NRWTM5_10         0
NRWRF_10          0
NRWTD_10          0
NRWeor            0
DateTime          0
dtype: int64
NRWSTATIONS_ID    0
NRWMESS_DATUM     0
NRW  QN           0
NRWPP_10          0
NRWTT_10          0
NRWTM5_10         0
NRWRF_10          0
NRWTD_10          0
NRWeor            0
DateTime          0
dtype: int64
NRWSTATIONS_ID    0
NRWMESS_DATUM     0
NRW  QN           0
NRWPP_10          0
NRWTT_10          0
NRWTM5_10         0
NRWRF_10          0
NRWTD_10          0
NRWeor            0
DateTime          0
dtype: int64
BerlinSTATIONS_ID    0
BerlinMESS_DATUM     0
Berlin  QN           0
BerlinPP_10          0
BerlinTT_10          0
BerlinTM5_10         0
BerlinRF_10          0
BerlinTD_10          0
Berlineor            0
DateTime             0
dtype: int64
BerlinSTATIONS_ID    0
BerlinMESS_DATUM     0
Berlin  QN           0
BerlinPP_10          0
BerlinTT_10          0
BerlinTM5_10         0
BerlinRF_10          0
BerlinTD_10          0
Berlineor            0
DateTime             0
dtype: int64
BerlinSTATIONS_ID    0
BerlinMESS_DATUM     0
Berlin  QN           0
BerlinPP_10          0
BerlinTT_10          0
BerlinTM5_10         0
BerlinRF_10          0
BerlinTD_10          0
Berlineor            0
DateTime             0
dtype: int64
BerlinSTATIONS_ID    0
BerlinMESS_DATUM     0
Berlin  QN           0
BerlinPP_10          0
BerlinTT_10          0
BerlinTM5_10         0
BerlinRF_10          0
BerlinTD_10          0
Berlineor            0
DateTime             0
dtype: int64
BerlinSTATIONS_ID    0
BerlinMESS_DATUM     0
Berlin  QN           0
BerlinPP_10          0
BerlinTT_10          0
BerlinTM5_10         0
BerlinRF_10          0
BerlinTD_10          0
Berlineor            0
DateTime             0
dtype: int64
BWSTATIONS_ID    0
BWMESS_DATUM     0
BW  QN           0
BWPP_10          0
BWTT_10          0
BWTM5_10         0
BWRF_10          0
BWTD_10          0
BWeor            0
DateTime         0
dtype: int64
BWSTATIONS_ID    0
BWMESS_DATUM     0
BW  QN           0
BWPP_10          0
BWTT_10          0
BWTM5_10         0
BWRF_10          0
BWTD_10          0
BWeor            0
DateTime         0
dtype: int64
BWSTATIONS_ID    0
BWMESS_DATUM     0
BW  QN           0
BWPP_10          0
BWTT_10          0
BWTM5_10         0
BWRF_10          0
BWTD_10          0
BWeor            0
DateTime         0
dtype: int64
BWSTATIONS_ID    0
BWMESS_DATUM     0
BW  QN           0
BWPP_10          0
BWTT_10          0
BWTM5_10         0
BWRF_10          0
BWTD_10          0
BWeor            0
DateTime         0
dtype: int64
BWSTATIONS_ID    0
BWMESS_DATUM     0
BW  QN           0
BWPP_10          0
BWTT_10          0
BWTM5_10         0
BWRF_10          0
BWTD_10          0
BWeor            0
DateTime         0
dtype: int64
NRWSTATIONS_ID    0
NRWMESS_DATUM     0
NRW  QN           0
NRWPP_10          0
NRWTT_10          0
NRWTM5_10         0
NRWRF_10          0
NRWTD_10          0
NRWeor            0
DateTime          0
dtype: int64
NRWSTATIONS_ID    0
NRWMESS_DATUM     0
NRW  QN           0
NRWPP_10          0
NRWTT_10          0
NRWTM5_10         0
NRWRF_10          0
NRWTD_10          0
NRWeor            0
DateTime          0
dtype: int64
NRWSTATIONS_ID    0
NRWMESS_DATUM     0
NRW  QN           0
NRWPP_10          0
NRWTT_10          0
NRWTM5_10         0
NRWRF_10          0
NRWTD_10          0
NRWeor            0
DateTime          0
dtype: int64
NRWSTATIONS_ID    0
NRWMESS_DATUM     0
NRW  QN           0
NRWPP_10          0
NRWTT_10          0
NRWTM5_10         0
NRWRF_10          0
NRWTD_10          0
NRWeor            0
DateTime          0
dtype: int64
NRWSTATIONS_ID    0
NRWMESS_DATUM     0
NRW  QN           0
NRWPP_10          0
NRWTT_10          0
NRWTM5_10         0
NRWRF_10          0
NRWTD_10          0
NRWeor            0
DateTime          0
dtype: int64
done

In [150]:
climate_resampled = []
for station in station_climate_list:
    resampled_dic = {}
    for key, climate_df in station.items():
        print("exec")
        #climate_df.reset_index(drop=True)
        try:
            climate_df.set_index("DateTime", inplace=True)
        except:
            pass
            #print(climate_df)
            
        numeric_cols = climate_df.select_dtypes(include='number').columns
        df_resampled_numeric = climate_df[numeric_cols].resample('15T').mean()
    
        # Resample non-numeric columns
        non_numeric_cols = climate_df.select_dtypes(exclude='number').columns
        df_resampled_non_numeric = climate_df[non_numeric_cols].resample('15T').agg(lambda x: x.mode()[0] if not x.mode().empty else x.iloc[0])
    
        # Combine the resampled numeric and non-numeric dataframes
        df_resampled = pd.concat([df_resampled_numeric, df_resampled_non_numeric], axis=1)
    
        resampled_dic[key] = df_resampled
    climate_resampled.append(resampled_dic)
        #print(temperature_dic[key])
print("done")
print(len(climate_resampled))
print(climate_resampled[0])

exec
exec
exec
exec
exec
exec
exec
exec
exec
exec
exec
exec
exec
exec
exec
exec
exec
exec
exec
exec
exec
exec
exec
exec
exec
exec
exec
exec
exec
exec
done
6
{2012:                      BerlinSTATIONS_ID  BerlinMESS_DATUM  Berlin  QN  \
DateTime
2012-01-01 00:00:00              433.0      2.012010e+11         3.0
2012-01-01 00:15:00              433.0      2.012010e+11         3.0
2012-01-01 00:30:00              433.0      2.012010e+11         3.0
2012-01-01 00:45:00              433.0      2.012010e+11         3.0
2012-01-01 01:00:00              433.0      2.012010e+11         3.0
...                                ...               ...         ...
2012-12-31 22:45:00              433.0      2.012123e+11         3.0
2012-12-31 23:00:00              433.0      2.012123e+11         3.0
2012-12-31 23:15:00              433.0      2.012123e+11         3.0
2012-12-31 23:30:00              433.0      2.012123e+11         3.0
2012-12-31 23:45:00              433.0      2.012123e+11         3.0

                     BerlinPP_10  BerlinTT_10  BerlinTM5_10  BerlinRF_10  \
DateTime
2012-01-01 00:00:00      1005.55         1.50          1.00        92.00
2012-01-01 00:15:00      1005.40         1.50          1.00        92.60
2012-01-01 00:30:00      1005.30         1.60          1.20        92.90
2012-01-01 00:45:00      1005.30         1.60          1.30        93.60
2012-01-01 01:00:00      1005.20         1.70          1.40        94.00
...                          ...          ...           ...          ...
2012-12-31 22:45:00      1002.00         6.10          3.70        77.00
2012-12-31 23:00:00      1001.80         6.10          3.70        76.40
2012-12-31 23:15:00      1001.70         6.10          3.60        76.50
2012-12-31 23:30:00      1001.40         5.95          3.35        77.05
2012-12-31 23:45:00      1001.10         6.00          3.60        76.80

                     BerlinTD_10 Berlineor
DateTime
2012-01-01 00:00:00         0.35       eor
2012-01-01 00:15:00         0.40       eor
2012-01-01 00:30:00         0.60       eor
2012-01-01 00:45:00         0.70       eor
2012-01-01 01:00:00         0.85       eor
...                          ...       ...
2012-12-31 22:45:00         2.40       eor
2012-12-31 23:00:00         2.25       eor
2012-12-31 23:15:00         2.30       eor
2012-12-31 23:30:00         2.25       eor
2012-12-31 23:45:00         2.20       eor

[35136 rows x 9 columns], 2014:                      BerlinSTATIONS_ID  BerlinMESS_DATUM  Berlin  QN  \
DateTime
2014-01-01 00:00:00              433.0      2.014010e+11         3.0
2014-01-01 00:15:00              433.0      2.014010e+11         3.0
2014-01-01 00:30:00              433.0      2.014010e+11         3.0
2014-01-01 00:45:00              433.0      2.014010e+11         3.0
2014-01-01 01:00:00              433.0      2.014010e+11         3.0
...                                ...               ...         ...
2014-12-31 22:45:00              433.0      2.014123e+11         3.0
2014-12-31 23:00:00              433.0      2.014123e+11         3.0
2014-12-31 23:15:00              433.0      2.014123e+11         3.0
2014-12-31 23:30:00              433.0      2.014123e+11         3.0
2014-12-31 23:45:00              433.0      2.014123e+11         3.0

                     BerlinPP_10  BerlinTT_10  BerlinTM5_10  BerlinRF_10  \
DateTime
2014-01-01 00:00:00      1009.10        -0.10         -1.50        94.70
2014-01-01 00:15:00      1009.00        -0.20         -1.50        94.30
2014-01-01 00:30:00      1009.00        -0.25         -1.70        94.15
2014-01-01 00:45:00      1008.90        -0.30         -1.70        94.20
2014-01-01 01:00:00      1008.80        -0.25         -1.55        93.95
...                          ...          ...           ...          ...
2014-12-31 22:45:00      1025.90         5.10          4.60        97.90
2014-12-31 23:00:00      1026.05         5.10          4.50        97.20
2014-12-31 23:15:00      1026.10         5.20          4.60        96.30
2014-12-31 23:30:00      1026.10         5.20          4.55        95.85
2014-12-31 23:45:00      1026.10         5.20          4.60        95.30

                     BerlinTD_10 Berlineor
DateTime
2014-01-01 00:00:00        -0.85       eor
2014-01-01 00:15:00        -1.00       eor
2014-01-01 00:30:00        -1.05       eor
2014-01-01 00:45:00        -1.10       eor
2014-01-01 01:00:00        -1.10       eor
...                          ...       ...
2014-12-31 22:45:00         4.80       eor
2014-12-31 23:00:00         4.70       eor
2014-12-31 23:15:00         4.70       eor
2014-12-31 23:30:00         4.60       eor
2014-12-31 23:45:00         4.50       eor

[35040 rows x 9 columns], 2016:                      BerlinSTATIONS_ID  BerlinMESS_DATUM  Berlin  QN  \
DateTime
2016-01-01 00:00:00              433.0      2.016010e+11         3.0
2016-01-01 00:15:00              433.0      2.016010e+11         3.0
2016-01-01 00:30:00              433.0      2.016010e+11         3.0
2016-01-01 00:45:00              433.0      2.016010e+11         3.0
2016-01-01 01:00:00              433.0      2.016010e+11         3.0
...                                ...               ...         ...
2016-12-31 22:45:00              433.0      2.016123e+11         3.0
2016-12-31 23:00:00              433.0      2.016123e+11         3.0
2016-12-31 23:15:00              433.0      2.016123e+11         3.0
2016-12-31 23:30:00              433.0      2.016123e+11         3.0
2016-12-31 23:45:00              433.0      2.016123e+11         3.0

                     BerlinPP_10  BerlinTT_10  BerlinTM5_10  BerlinRF_10  \
DateTime
2016-01-01 00:00:00      1019.35         1.85          1.40        97.90
2016-01-01 00:15:00      1019.30         1.90          1.50        97.80
2016-01-01 00:30:00      1019.05         2.05          1.60        98.05
2016-01-01 00:45:00      1019.10         2.10          1.70        97.90
2016-01-01 01:00:00      1019.10         2.20          1.75        97.95
...                          ...          ...           ...          ...
2016-12-31 22:45:00      1018.00         3.70          3.00        85.40
2016-12-31 23:00:00      1017.80         3.60          2.95        85.45
2016-12-31 23:15:00      1017.60         3.50          2.90        85.60
2016-12-31 23:30:00      1017.35         3.45          2.80        85.80
2016-12-31 23:45:00      1017.10         3.40          2.70        85.20

                     BerlinTD_10 Berlineor
DateTime
2016-01-01 00:00:00         1.55       eor
2016-01-01 00:15:00         1.60       eor
2016-01-01 00:30:00         1.75       eor
2016-01-01 00:45:00         1.80       eor
2016-01-01 01:00:00         1.95       eor
...                          ...       ...
2016-12-31 22:45:00         1.50       eor
2016-12-31 23:00:00         1.40       eor
2016-12-31 23:15:00         1.30       eor
2016-12-31 23:30:00         1.30       eor
2016-12-31 23:45:00         1.20       eor

[35136 rows x 9 columns], 2018:                      BerlinSTATIONS_ID  BerlinMESS_DATUM  Berlin  QN  \
DateTime
2018-01-01 00:00:00              433.0      2.018010e+11         3.0
2018-01-01 00:15:00              433.0      2.018010e+11         3.0
2018-01-01 00:30:00              433.0      2.018010e+11         3.0
2018-01-01 00:45:00              433.0      2.018010e+11         3.0
2018-01-01 01:00:00              433.0      2.018010e+11         3.0
...                                ...               ...         ...
2018-12-31 22:45:00              433.0      2.018123e+11         3.0
2018-12-31 23:00:00              433.0      2.018123e+11         3.0
2018-12-31 23:15:00              433.0      2.018123e+11         3.0
2018-12-31 23:30:00              433.0      2.018123e+11         3.0
2018-12-31 23:45:00              433.0      2.018123e+11         3.0

                     BerlinPP_10  BerlinTT_10  BerlinTM5_10  BerlinRF_10  \
DateTime
2018-01-01 00:00:00       992.25        12.00         10.50        67.85
2018-01-01 00:15:00       992.30        12.00         10.60        67.50
2018-01-01 00:30:00       992.20        11.90         10.45        67.40
2018-01-01 00:45:00       992.10        11.80         10.40        67.40
2018-01-01 01:00:00       992.00        11.55          9.95        68.30
...                          ...          ...           ...          ...
2018-12-31 22:45:00      1020.70         8.10          7.50        91.60
2018-12-31 23:00:00      1020.45         8.25          7.50        90.30
2018-12-31 23:15:00      1020.20         8.20          7.50        89.80
2018-12-31 23:30:00      1019.90         8.35          7.50        87.85
2018-12-31 23:45:00      1019.60         8.50          7.50        86.00

                     BerlinTD_10 Berlineor
DateTime
2018-01-01 00:00:00         6.25       eor
2018-01-01 00:15:00         6.20       eor
2018-01-01 00:30:00         6.10       eor
2018-01-01 00:45:00         6.00       eor
2018-01-01 01:00:00         5.95       eor
...                          ...       ...
2018-12-31 22:45:00         6.80       eor
2018-12-31 23:00:00         6.75       eor
2018-12-31 23:15:00         6.60       eor
2018-12-31 23:30:00         6.45       eor
2018-12-31 23:45:00         6.30       eor

[35040 rows x 9 columns], 2021:                      BerlinSTATIONS_ID  BerlinMESS_DATUM  Berlin  QN  \
DateTime
2021-01-01 00:00:00              433.0      2.021010e+11         3.0
2021-01-01 00:15:00              433.0      2.021010e+11         3.0
2021-01-01 00:30:00              433.0      2.021010e+11         3.0
2021-01-01 00:45:00              433.0      2.021010e+11         3.0
2021-01-01 01:00:00              433.0      2.021010e+11         3.0
...                                ...               ...         ...
2021-12-31 22:45:00              433.0      2.021123e+11         3.0
2021-12-31 23:00:00              433.0      2.021123e+11         3.0
2021-12-31 23:15:00              433.0      2.021123e+11         3.0
2021-12-31 23:30:00              433.0      2.021123e+11         3.0
2021-12-31 23:45:00              433.0      2.021123e+11         3.0

                     BerlinPP_10  BerlinTT_10  BerlinTM5_10  BerlinRF_10  \
DateTime
2021-01-01 00:00:00       999.50         1.90          1.40        81.00
2021-01-01 00:15:00       999.50         1.90          1.30        80.20
2021-01-01 00:30:00       999.45         2.00          1.25        79.90
2021-01-01 00:45:00       999.60         2.10          1.50        77.90
2021-01-01 01:00:00       999.55         2.00          1.35        78.85
...                          ...          ...           ...          ...
2021-12-31 22:45:00      1010.90        11.90         11.20        93.80
2021-12-31 23:00:00      1011.05        11.85         11.20        93.75
2021-12-31 23:15:00      1011.10        11.80         11.20        93.90
2021-12-31 23:30:00      1011.20        11.85         11.20        93.75
2021-12-31 23:45:00      1011.30        11.90         11.20        93.40

                     BerlinTD_10 Berlineor
DateTime
2021-01-01 00:00:00        -1.05       eor
2021-01-01 00:15:00        -1.20       eor
2021-01-01 00:30:00        -1.15       eor
2021-01-01 00:45:00        -1.40       eor
2021-01-01 01:00:00        -1.30       eor
...                          ...       ...
2021-12-31 22:45:00        10.90       eor
2021-12-31 23:00:00        10.90       eor
2021-12-31 23:15:00        10.90       eor
2021-12-31 23:30:00        10.85       eor
2021-12-31 23:45:00        10.90       eor

[35040 rows x 9 columns]}

## 1.2 Importing Data - Football

In [114]:

temp_path =r"Spielplan"
file_name = "*.csv"
date_column = "DateTime"
date_format = '%d. %b %y %H:%M'
other_date_format = '%d.%m.%Y %H:%M'

help(importing_data)

football_dic = importing_data(temp_path, file_name, date_column, date_format, other_date_format, football_dataset = True)

Help on function importing_data in module __main__:

importing_data(temp_path, temp_file, column_name, *date_format, football_dataset=False)

## Adding new columns for Matches at same time

In [115]:

for key, match_set in football_dic.items():
    match_set = match_set.loc[:, ["Land1", "Land2", "Runde", "Liga", "DateTime"]]
    #print(spielplan)
    grouped = match_set.groupby("DateTime")
    results = pd.DataFrame()

    for name, group in grouped:
        if len(group) == 1:
            results = pd.concat([results, group])
        else:
            land1_value = group.iloc[0]['Land1']
            land2_value = group.iloc[0]['Land2']

            new_row = {
                "DateTime" : name,
                'Land1': land1_value,
                'Land2': land2_value,
                "Runde" : group.iloc[1]["Runde"],
                "Liga": group.iloc[1]["Liga"],
                'Land3': group.iloc[1]['Land1'],
                'Land4': group.iloc[1]['Land2'],
                
            }

            new_df = pd.DataFrame([new_row])

            results = pd.concat([results, new_df], ignore_index = True)
    results.set_index("DateTime")
    football_dic[key] = results

print(football_dic.keys())

dict_keys([2021, 2016, 2012, 2014, 2018])

## 1.3 Importing electricty data

In [155]:
temp_path =r"Stromverbrauch\Viertel"
file_name = "*.csv"
date_column = "Datum von"
date_format = '%d.%m.%Y %H:%M'

elec_dic = importing_data(temp_path, file_name, date_column, date_format)
for key, df in elec_dic.items():
    zero_count = df.apply(lambda col: (col == 0).sum())
    print(zero_count)
#print(elec_dic.keys())

Datum von                                      0
Datum bis                                      0
Gesamt (Netzlast) [MWh] Originalauflösungen    0
DateTime                                       0
dtype: int64
Datum von                                      0
Datum bis                                      0
Gesamt (Netzlast) [MWh] Originalauflösungen    0
DateTime                                       0
dtype: int64
Datum von                                      0
Datum bis                                      0
Gesamt (Netzlast) [MWh] Originalauflösungen    0
DateTime                                       0
dtype: int64

In [75]:

#index_counter = 0
counter_limit = len(spielplan_list) - 1

merged_df_dic = {}

print(dfs_by_year.keys())

for key,value in dfs_by_year.items():
    print(key)
    found_item = False
    index_counter = 0
    while found_item == False:
        spielplan = spielplan_list[index_counter]
        #rint(spielplan)
        spielplan_name_list = spielplan.columns.tolist()

        if key == spielplan["DateTime"].iloc[0].year:
            merged_df = pd.merge(value, spielplan, left_on="Datum von", right_on='DateTime', how='outer')
            
            for index, row in spielplan.iterrows():
                start_time = row["DateTime"]
                
                until_time = row["DateTime"] + timedelta(minutes=105)
                #print(until_time)
                fill_condition = (merged_df['Datum von']>= start_time) & (merged_df['Datum von'] <= until_time)
                merged_df.loc[fill_condition,spielplan_name_list] = merged_df.loc[fill_condition, spielplan_name_list].fillna(method='ffill')
                print(merged_df)
            if not merged_df.empty:
                #print(year)
                merged_df_dic[key] = merged_df
            #merged_df_list.append(merged_df)
            found_item = True
        elif index_counter == counter_limit:
            found_item = True
        else:
            index_counter += 1

dict_keys([2015, 2016, 2017, 2018, 2019, 2021, 2023])
2015
2016
               Datum von         Datum bis  \
0    2016-06-10 00:00:00  10.06.2016 00:15
1    2016-06-10 00:15:00  10.06.2016 00:30
2    2016-06-10 00:30:00  10.06.2016 00:45
3    2016-06-10 00:45:00  10.06.2016 01:00
4    2016-06-10 01:00:00  10.06.2016 01:15
...                  ...               ...
2971 2016-07-10 22:45:00  10.07.2016 23:00
2972 2016-07-10 23:00:00  10.07.2016 23:15
2973 2016-07-10 23:15:00  10.07.2016 23:30
2974 2016-07-10 23:30:00  10.07.2016 23:45
2975 2016-07-10 23:45:00  11.07.2016 00:00

     Gesamt (Netzlast) [MWh] Originalauflösungen Land1 Land2 Runde Liga  \
0                                      11.930,50   NaN   NaN   NaN  NaN
1                                      11.764,50   NaN   NaN   NaN  NaN
2                                      11.602,50   NaN   NaN   NaN  NaN
3                                      11.495,00   NaN   NaN   NaN  NaN
4                                      11.384,25   NaN   NaN   NaN  NaN
...                                          ...   ...   ...   ...  ...
2971                                   12.083,75   NaN   NaN   NaN  NaN
2972                                   11.952,25   NaN   NaN   NaN  NaN
2973                                   11.730,25   NaN   NaN   NaN  NaN
2974                                   11.538,75   NaN   NaN   NaN  NaN
2975                                   11.453,50   NaN   NaN   NaN  NaN

     DateTime Land3 Land4
0         NaT   NaN   NaN
1         NaT   NaN   NaN
2         NaT   NaN   NaN
3         NaT   NaN   NaN
4         NaT   NaN   NaN
...       ...   ...   ...
2971      NaT   NaN   NaN
2972      NaT   NaN   NaN
2973      NaT   NaN   NaN
2974      NaT   NaN   NaN
2975      NaT   NaN   NaN

[2976 rows x 10 columns]
               Datum von         Datum bis  \
0    2016-06-10 00:00:00  10.06.2016 00:15
1    2016-06-10 00:15:00  10.06.2016 00:30
2    2016-06-10 00:30:00  10.06.2016 00:45
3    2016-06-10 00:45:00  10.06.2016 01:00
4    2016-06-10 01:00:00  10.06.2016 01:15
...                  ...               ...
2971 2016-07-10 22:45:00  10.07.2016 23:00
2972 2016-07-10 23:00:00  10.07.2016 23:15
2973 2016-07-10 23:15:00  10.07.2016 23:30
2974 2016-07-10 23:30:00  10.07.2016 23:45
2975 2016-07-10 23:45:00  11.07.2016 00:00

     Gesamt (Netzlast) [MWh] Originalauflösungen Land1 Land2 Runde Liga  \
0                                      11.930,50   NaN   NaN   NaN  NaN
1                                      11.764,50   NaN   NaN   NaN  NaN
2                                      11.602,50   NaN   NaN   NaN  NaN
3                                      11.495,00   NaN   NaN   NaN  NaN
4                                      11.384,25   NaN   NaN   NaN  NaN
...                                          ...   ...   ...   ...  ...
2971                                   12.083,75   NaN   NaN   NaN  NaN
2972                                   11.952,25   NaN   NaN   NaN  NaN
2973                                   11.730,25   NaN   NaN   NaN  NaN
2974                                   11.538,75   NaN   NaN   NaN  NaN
2975                                   11.453,50   NaN   NaN   NaN  NaN

     DateTime Land3 Land4
0         NaT   NaN   NaN
1         NaT   NaN   NaN
2         NaT   NaN   NaN
3         NaT   NaN   NaN
4         NaT   NaN   NaN
...       ...   ...   ...
2971      NaT   NaN   NaN
2972      NaT   NaN   NaN
2973      NaT   NaN   NaN
2974      NaT   NaN   NaN
2975      NaT   NaN   NaN

[2976 rows x 10 columns]
               Datum von         Datum bis  \
0    2016-06-10 00:00:00  10.06.2016 00:15
1    2016-06-10 00:15:00  10.06.2016 00:30
2    2016-06-10 00:30:00  10.06.2016 00:45
3    2016-06-10 00:45:00  10.06.2016 01:00
4    2016-06-10 01:00:00  10.06.2016 01:15
...                  ...               ...
2971 2016-07-10 22:45:00  10.07.2016 23:00
2972 2016-07-10 23:00:00  10.07.2016 23:15
2973 2016-07-10 23:15:00  10.07.2016 23:30
2974 2016-07-10 23:30:00  10.07.2016 23:45
2975 2016-07-10 23:45:00  11.07.2016 00:00

     Gesamt (Netzlast) [MWh] Originalauflösungen Land1 Land2 Runde Liga  \
0                                      11.930,50   NaN   NaN   NaN  NaN
1                                      11.764,50   NaN   NaN   NaN  NaN
2                                      11.602,50   NaN   NaN   NaN  NaN
3                                      11.495,00   NaN   NaN   NaN  NaN
4                                      11.384,25   NaN   NaN   NaN  NaN
...                                          ...   ...   ...   ...  ...
2971                                   12.083,75   NaN   NaN   NaN  NaN
2972                                   11.952,25   NaN   NaN   NaN  NaN
2973                                   11.730,25   NaN   NaN   NaN  NaN
2974                                   11.538,75   NaN   NaN   NaN  NaN
2975                                   11.453,50   NaN   NaN   NaN  NaN

     DateTime Land3 Land4
0         NaT   NaN   NaN
1         NaT   NaN   NaN
2         NaT   NaN   NaN
3         NaT   NaN   NaN
4         NaT   NaN   NaN
...       ...   ...   ...
2971      NaT   NaN   NaN
2972      NaT   NaN   NaN
2973      NaT   NaN   NaN
2974      NaT   NaN   NaN
2975      NaT   NaN   NaN

[2976 rows x 10 columns]
               Datum von         Datum bis  \
0    2016-06-10 00:00:00  10.06.2016 00:15
1    2016-06-10 00:15:00  10.06.2016 00:30
2    2016-06-10 00:30:00  10.06.2016 00:45
3    2016-06-10 00:45:00  10.06.2016 01:00
4    2016-06-10 01:00:00  10.06.2016 01:15
...                  ...               ...
2971 2016-07-10 22:45:00  10.07.2016 23:00
2972 2016-07-10 23:00:00  10.07.2016 23:15
2973 2016-07-10 23:15:00  10.07.2016 23:30
2974 2016-07-10 23:30:00  10.07.2016 23:45
2975 2016-07-10 23:45:00  11.07.2016 00:00

     Gesamt (Netzlast) [MWh] Originalauflösungen Land1 Land2 Runde Liga  \
0                                      11.930,50   NaN   NaN   NaN  NaN
1                                      11.764,50   NaN   NaN   NaN  NaN
2                                      11.602,50   NaN   NaN   NaN  NaN
3                                      11.495,00   NaN   NaN   NaN  NaN
4                                      11.384,25   NaN   NaN   NaN  NaN
...                                          ...   ...   ...   ...  ...
2971                                   12.083,75   NaN   NaN   NaN  NaN
2972                                   11.952,25   NaN   NaN   NaN  NaN
2973                                   11.730,25   NaN   NaN   NaN  NaN
2974                                   11.538,75   NaN   NaN   NaN  NaN
2975                                   11.453,50   NaN   NaN   NaN  NaN

     DateTime Land3 Land4
0         NaT   NaN   NaN
1         NaT   NaN   NaN
2         NaT   NaN   NaN
3         NaT   NaN   NaN
4         NaT   NaN   NaN
...       ...   ...   ...
2971      NaT   NaN   NaN
2972      NaT   NaN   NaN
2973      NaT   NaN   NaN
2974      NaT   NaN   NaN
2975      NaT   NaN   NaN

[2976 rows x 10 columns]
               Datum von         Datum bis  \
0    2016-06-10 00:00:00  10.06.2016 00:15
1    2016-06-10 00:15:00  10.06.2016 00:30
2    2016-06-10 00:30:00  10.06.2016 00:45
3    2016-06-10 00:45:00  10.06.2016 01:00
4    2016-06-10 01:00:00  10.06.2016 01:15
...                  ...               ...
2971 2016-07-10 22:45:00  10.07.2016 23:00
2972 2016-07-10 23:00:00  10.07.2016 23:15
2973 2016-07-10 23:15:00  10.07.2016 23:30
2974 2016-07-10 23:30:00  10.07.2016 23:45
2975 2016-07-10 23:45:00  11.07.2016 00:00

     Gesamt (Netzlast) [MWh] Originalauflösungen Land1 Land2 Runde Liga  \
0                                      11.930,50   NaN   NaN   NaN  NaN
1                                      11.764,50   NaN   NaN   NaN  NaN
2                                      11.602,50   NaN   NaN   NaN  NaN
3                                      11.495,00   NaN   NaN   NaN  NaN
4                                      11.384,25   NaN   NaN   NaN  NaN
...                                          ...   ...   ...   ...  ...
2971                                   12.083,75   NaN   NaN   NaN  NaN
2972                                   11.952,25   NaN   NaN   NaN  NaN
2973                                   11.730,25   NaN   NaN   NaN  NaN
2974                                   11.538,75   NaN   NaN   NaN  NaN
2975                                   11.453,50   NaN   NaN   NaN  NaN

     DateTime Land3 Land4
0         NaT   NaN   NaN
1         NaT   NaN   NaN
2         NaT   NaN   NaN
3         NaT   NaN   NaN
4         NaT   NaN   NaN
...       ...   ...   ...
2971      NaT   NaN   NaN
2972      NaT   NaN   NaN
2973      NaT   NaN   NaN
2974      NaT   NaN   NaN
2975      NaT   NaN   NaN

[2976 rows x 10 columns]
               Datum von         Datum bis  \
0    2016-06-10 00:00:00  10.06.2016 00:15
1    2016-06-10 00:15:00  10.06.2016 00:30
2    2016-06-10 00:30:00  10.06.2016 00:45
3    2016-06-10 00:45:00  10.06.2016 01:00
4    2016-06-10 01:00:00  10.06.2016 01:15
...                  ...               ...
2971 2016-07-10 22:45:00  10.07.2016 23:00
2972 2016-07-10 23:00:00  10.07.2016 23:15
2973 2016-07-10 23:15:00  10.07.2016 23:30
2974 2016-07-10 23:30:00  10.07.2016 23:45
2975 2016-07-10 23:45:00  11.07.2016 00:00

     Gesamt (Netzlast) [MWh] Originalauflösungen Land1 Land2 Runde Liga  \
0                                      11.930,50   NaN   NaN   NaN  NaN
1                                      11.764,50   NaN   NaN   NaN  NaN
2                                      11.602,50   NaN   NaN   NaN  NaN
3                                      11.495,00   NaN   NaN   NaN  NaN
4                                      11.384,25   NaN   NaN   NaN  NaN
...                                          ...   ...   ...   ...  ...
2971                                   12.083,75   NaN   NaN   NaN  NaN
2972                                   11.952,25   NaN   NaN   NaN  NaN
2973                                   11.730,25   NaN   NaN   NaN  NaN
2974                                   11.538,75   NaN   NaN   NaN  NaN
2975                                   11.453,50   NaN   NaN   NaN  NaN

     DateTime Land3 Land4
0         NaT   NaN   NaN
1         NaT   NaN   NaN
2         NaT   NaN   NaN
3         NaT   NaN   NaN
4         NaT   NaN   NaN
...       ...   ...   ...
2971      NaT   NaN   NaN
2972      NaT   NaN   NaN
2973      NaT   NaN   NaN
2974      NaT   NaN   NaN
2975      NaT   NaN   NaN

[2976 rows x 10 columns]
               Datum von         Datum bis  \
0    2016-06-10 00:00:00  10.06.2016 00:15
1    2016-06-10 00:15:00  10.06.2016 00:30
2    2016-06-10 00:30:00  10.06.2016 00:45
3    2016-06-10 00:45:00  10.06.2016 01:00
4    2016-06-10 01:00:00  10.06.2016 01:15
...                  ...               ...
2971 2016-07-10 22:45:00  10.07.2016 23:00
2972 2016-07-10 23:00:00  10.07.2016 23:15
2973 2016-07-10 23:15:00  10.07.2016 23:30
2974 2016-07-10 23:30:00  10.07.2016 23:45
2975 2016-07-10 23:45:00  11.07.2016 00:00

     Gesamt (Netzlast) [MWh] Originalauflösungen Land1 Land2 Runde Liga  \
0                                      11.930,50   NaN   NaN   NaN  NaN
1                                      11.764,50   NaN   NaN   NaN  NaN
2                                      11.602,50   NaN   NaN   NaN  NaN
3                                      11.495,00   NaN   NaN   NaN  NaN
4                                      11.384,25   NaN   NaN   NaN  NaN
...                                          ...   ...   ...   ...  ...
2971                                   12.083,75   NaN   NaN   NaN  NaN
2972                                   11.952,25   NaN   NaN   NaN  NaN
2973                                   11.730,25   NaN   NaN   NaN  NaN
2974                                   11.538,75   NaN   NaN   NaN  NaN
2975                                   11.453,50   NaN   NaN   NaN  NaN

     DateTime Land3 Land4
0         NaT   NaN   NaN
1         NaT   NaN   NaN
2         NaT   NaN   NaN
3         NaT   NaN   NaN
4         NaT   NaN   NaN
...       ...   ...   ...
2971      NaT   NaN   NaN
2972      NaT   NaN   NaN
2973      NaT   NaN   NaN
2974      NaT   NaN   NaN
2975      NaT   NaN   NaN

[2976 rows x 10 columns]
               Datum von         Datum bis  \
0    2016-06-10 00:00:00  10.06.2016 00:15
1    2016-06-10 00:15:00  10.06.2016 00:30
2    2016-06-10 00:30:00  10.06.2016 00:45
3    2016-06-10 00:45:00  10.06.2016 01:00
4    2016-06-10 01:00:00  10.06.2016 01:15
...                  ...               ...
2971 2016-07-10 22:45:00  10.07.2016 23:00
2972 2016-07-10 23:00:00  10.07.2016 23:15
2973 2016-07-10 23:15:00  10.07.2016 23:30
2974 2016-07-10 23:30:00  10.07.2016 23:45
2975 2016-07-10 23:45:00  11.07.2016 00:00

     Gesamt (Netzlast) [MWh] Originalauflösungen Land1 Land2 Runde Liga  \
0                                      11.930,50   NaN   NaN   NaN  NaN
1                                      11.764,50   NaN   NaN   NaN  NaN
2                                      11.602,50   NaN   NaN   NaN  NaN
3                                      11.495,00   NaN   NaN   NaN  NaN
4                                      11.384,25   NaN   NaN   NaN  NaN
...                                          ...   ...   ...   ...  ...
2971                                   12.083,75   NaN   NaN   NaN  NaN
2972                                   11.952,25   NaN   NaN   NaN  NaN
2973                                   11.730,25   NaN   NaN   NaN  NaN
2974                                   11.538,75   NaN   NaN   NaN  NaN
2975                                   11.453,50   NaN   NaN   NaN  NaN

     DateTime Land3 Land4
0         NaT   NaN   NaN
1         NaT   NaN   NaN
2         NaT   NaN   NaN
3         NaT   NaN   NaN
4         NaT   NaN   NaN
...       ...   ...   ...
2971      NaT   NaN   NaN
2972      NaT   NaN   NaN
2973      NaT   NaN   NaN
2974      NaT   NaN   NaN
2975      NaT   NaN   NaN

[2976 rows x 10 columns]
               Datum von         Datum bis  \
0    2016-06-10 00:00:00  10.06.2016 00:15
1    2016-06-10 00:15:00  10.06.2016 00:30
2    2016-06-10 00:30:00  10.06.2016 00:45
3    2016-06-10 00:45:00  10.06.2016 01:00
4    2016-06-10 01:00:00  10.06.2016 01:15
...                  ...               ...
2971 2016-07-10 22:45:00  10.07.2016 23:00
2972 2016-07-10 23:00:00  10.07.2016 23:15
2973 2016-07-10 23:15:00  10.07.2016 23:30
2974 2016-07-10 23:30:00  10.07.2016 23:45
2975 2016-07-10 23:45:00  11.07.2016 00:00

     Gesamt (Netzlast) [MWh] Originalauflösungen Land1 Land2 Runde Liga  \
0                                      11.930,50   NaN   NaN   NaN  NaN
1                                      11.764,50   NaN   NaN   NaN  NaN
2                                      11.602,50   NaN   NaN   NaN  NaN
3                                      11.495,00   NaN   NaN   NaN  NaN
4                                      11.384,25   NaN   NaN   NaN  NaN
...                                          ...   ...   ...   ...  ...
2971                                   12.083,75   NaN   NaN   NaN  NaN
2972                                   11.952,25   NaN   NaN   NaN  NaN
2973                                   11.730,25   NaN   NaN   NaN  NaN
2974                                   11.538,75   NaN   NaN   NaN  NaN
2975                                   11.453,50   NaN   NaN   NaN  NaN

     DateTime Land3 Land4
0         NaT   NaN   NaN
1         NaT   NaN   NaN
2         NaT   NaN   NaN
3         NaT   NaN   NaN
4         NaT   NaN   NaN
...       ...   ...   ...
2971      NaT   NaN   NaN
2972      NaT   NaN   NaN
2973      NaT   NaN   NaN
2974      NaT   NaN   NaN
2975      NaT   NaN   NaN

[2976 rows x 10 columns]
               Datum von         Datum bis  \
0    2016-06-10 00:00:00  10.06.2016 00:15
1    2016-06-10 00:15:00  10.06.2016 00:30
2    2016-06-10 00:30:00  10.06.2016 00:45
3    2016-06-10 00:45:00  10.06.2016 01:00
4    2016-06-10 01:00:00  10.06.2016 01:15
...                  ...               ...
2971 2016-07-10 22:45:00  10.07.2016 23:00
2972 2016-07-10 23:00:00  10.07.2016 23:15
2973 2016-07-10 23:15:00  10.07.2016 23:30
2974 2016-07-10 23:30:00  10.07.2016 23:45
2975 2016-07-10 23:45:00  11.07.2016 00:00

     Gesamt (Netzlast) [MWh] Originalauflösungen Land1 Land2 Runde Liga  \
0                                      11.930,50   NaN   NaN   NaN  NaN
1                                      11.764,50   NaN   NaN   NaN  NaN
2                                      11.602,50   NaN   NaN   NaN  NaN
3                                      11.495,00   NaN   NaN   NaN  NaN
4                                      11.384,25   NaN   NaN   NaN  NaN
...                                          ...   ...   ...   ...  ...
2971                                   12.083,75   NaN   NaN   NaN  NaN
2972                                   11.952,25   NaN   NaN   NaN  NaN
2973                                   11.730,25   NaN   NaN   NaN  NaN
2974                                   11.538,75   NaN   NaN   NaN  NaN
2975                                   11.453,50   NaN   NaN   NaN  NaN

     DateTime Land3 Land4
0         NaT   NaN   NaN
1         NaT   NaN   NaN
2         NaT   NaN   NaN
3         NaT   NaN   NaN
4         NaT   NaN   NaN
...       ...   ...   ...
2971      NaT   NaN   NaN
2972      NaT   NaN   NaN
2973      NaT   NaN   NaN
2974      NaT   NaN   NaN
2975      NaT   NaN   NaN

[2976 rows x 10 columns]
               Datum von         Datum bis  \
0    2016-06-10 00:00:00  10.06.2016 00:15
1    2016-06-10 00:15:00  10.06.2016 00:30
2    2016-06-10 00:30:00  10.06.2016 00:45
3    2016-06-10 00:45:00  10.06.2016 01:00
4    2016-06-10 01:00:00  10.06.2016 01:15
...                  ...               ...
2971 2016-07-10 22:45:00  10.07.2016 23:00
2972 2016-07-10 23:00:00  10.07.2016 23:15
2973 2016-07-10 23:15:00  10.07.2016 23:30
2974 2016-07-10 23:30:00  10.07.2016 23:45
2975 2016-07-10 23:45:00  11.07.2016 00:00

     Gesamt (Netzlast) [MWh] Originalauflösungen Land1 Land2 Runde Liga  \
0                                      11.930,50   NaN   NaN   NaN  NaN
1                                      11.764,50   NaN   NaN   NaN  NaN
2                                      11.602,50   NaN   NaN   NaN  NaN
3                                      11.495,00   NaN   NaN   NaN  NaN
4                                      11.384,25   NaN   NaN   NaN  NaN
...                                          ...   ...   ...   ...  ...
2971                                   12.083,75   NaN   NaN   NaN  NaN
2972                                   11.952,25   NaN   NaN   NaN  NaN
2973                                   11.730,25   NaN   NaN   NaN  NaN
2974                                   11.538,75   NaN   NaN   NaN  NaN
2975                                   11.453,50   NaN   NaN   NaN  NaN

     DateTime Land3 Land4
0         NaT   NaN   NaN
1         NaT   NaN   NaN
2         NaT   NaN   NaN
3         NaT   NaN   NaN
4         NaT   NaN   NaN
...       ...   ...   ...
2971      NaT   NaN   NaN
2972      NaT   NaN   NaN
2973      NaT   NaN   NaN
2974      NaT   NaN   NaN
2975      NaT   NaN   NaN

[2976 rows x 10 columns]
               Datum von         Datum bis  \
0    2016-06-10 00:00:00  10.06.2016 00:15
1    2016-06-10 00:15:00  10.06.2016 00:30
2    2016-06-10 00:30:00  10.06.2016 00:45
3    2016-06-10 00:45:00  10.06.2016 01:00
4    2016-06-10 01:00:00  10.06.2016 01:15
...                  ...               ...
2971 2016-07-10 22:45:00  10.07.2016 23:00
2972 2016-07-10 23:00:00  10.07.2016 23:15
2973 2016-07-10 23:15:00  10.07.2016 23:30
2974 2016-07-10 23:30:00  10.07.2016 23:45
2975 2016-07-10 23:45:00  11.07.2016 00:00

     Gesamt (Netzlast) [MWh] Originalauflösungen Land1 Land2 Runde Liga  \
0                                      11.930,50   NaN   NaN   NaN  NaN
1                                      11.764,50   NaN   NaN   NaN  NaN
2                                      11.602,50   NaN   NaN   NaN  NaN
3                                      11.495,00   NaN   NaN   NaN  NaN

In [78]:
merged_dic_final = {}
for key,value in merged_df_dic.items():
    #value.drop(columns = ["level_0"], inplace = True)
    temp_df = temperature_dic[key]
    temp_df.reset_index(inplace = True)
    #print(temp_df)
    temp_df.rename(columns={"MESS_DATUM": "DateTime"}, inplace = True)
    #print(value)
    temp_df.set_index("DateTime", inplace=True)

    numeric_cols = temp_df.select_dtypes(include='number').columns
    df_resampled_numeric = temp_df[numeric_cols].resample('15T').mean()

    # Resample non-numeric columns
    non_numeric_cols = temp_df.select_dtypes(exclude='number').columns
    df_resampled_non_numeric = temp_df[non_numeric_cols].resample('15T').agg(lambda x: x.mode()[0] if not x.mode().empty else x.iloc[0])

    # Combine the resampled numeric and non-numeric dataframes
    df_resampled = pd.concat([df_resampled_numeric, df_resampled_non_numeric], axis=1)
    
    #temp_df_resampled = temp_df.resample("15T").mean()

    df_resampled.reset_index(inplace = True)
    value.reset_index(inplace = True)

    merged_df_final = pd.merge(value, df_resampled, left_on="Datum von", right_on='DateTime', how = "left")

    if not df_resampled.empty:
        merged_dic_final[key] = merged_df_final
        
print(merged_dic_final.keys())

C:\Users\Isabell\AppData\Local\Temp\ipykernel_1476\3495137154.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df.rename(columns={"MESS_DATUM": "DateTime"}, inplace = True)

dict_keys([2016, 2018, 2021])

## 1.4 Merging Dataframes

In [152]:
dfs = []
for key, elec in elec_dic.items():
    dfs_year = []
    dfs_year.append(pd.DataFrame(elec))
    dfs_year.append(pd.DataFrame(football_dic[key]))
    for station in climate_resampled:
        dfs_year.append(pd.DataFrame(station[key]))
        #print(station[key]["DateTime"])
    merged_df = reduce(lambda left, right: pd.merge(left, right, on='DateTime', how='left'), dfs_year)

    print(merged_df)

           Datum von         Datum bis  \
0   10.07.2016 00:00  10.07.2016 00:15
1   10.07.2016 00:15  10.07.2016 00:30
2   10.07.2016 00:30  10.07.2016 00:45
3   10.07.2016 00:45  10.07.2016 01:00
4   10.07.2016 01:00  10.07.2016 01:15
..               ...               ...
91  10.07.2016 22:45  10.07.2016 23:00
92  10.07.2016 23:00  10.07.2016 23:15
93  10.07.2016 23:15  10.07.2016 23:30
94  10.07.2016 23:30  10.07.2016 23:45
95  10.07.2016 23:45  11.07.2016 00:00

   Gesamt (Netzlast) [MWh] Originalauflösungen            DateTime Land1  \
0                                    10.603,75 2016-07-10 00:00:00   NaN
1                                    10.444,50 2016-07-10 00:15:00   NaN
2                                    10.283,50 2016-07-10 00:30:00   NaN
3                                    10.237,75 2016-07-10 00:45:00   NaN
4                                    10.018,50 2016-07-10 01:00:00   NaN
..                                         ...                 ...   ...
91                                   12.083,75 2016-07-10 22:45:00   NaN
92                                   11.952,25 2016-07-10 23:00:00   NaN
93                                   11.730,25 2016-07-10 23:15:00   NaN
94                                   11.538,75 2016-07-10 23:30:00   NaN
95                                   11.453,50 2016-07-10 23:45:00   NaN

   Land2 Runde Liga Land3 Land4  ...  BWeor_y  BWSTATIONS_ID  BWMESS_DATUM  \
0    NaN   NaN  NaN   NaN   NaN  ...      eor          433.0  2.016071e+11
1    NaN   NaN  NaN   NaN   NaN  ...      eor          433.0  2.016071e+11
2    NaN   NaN  NaN   NaN   NaN  ...      eor          433.0  2.016071e+11
3    NaN   NaN  NaN   NaN   NaN  ...      eor          433.0  2.016071e+11
4    NaN   NaN  NaN   NaN   NaN  ...      eor          433.0  2.016071e+11
..   ...   ...  ...   ...   ...  ...      ...            ...           ...
91   NaN   NaN  NaN   NaN   NaN  ...      eor          433.0  2.016071e+11
92   NaN   NaN  NaN   NaN   NaN  ...      eor          433.0  2.016071e+11
93   NaN   NaN  NaN   NaN   NaN  ...      eor          433.0  2.016071e+11
94   NaN   NaN  NaN   NaN   NaN  ...      eor          433.0  2.016071e+11
95   NaN   NaN  NaN   NaN   NaN  ...      eor          433.0  2.016071e+11

    BW  QN  BWPP_10  BWTT_10  BWTM5_10  BWRF_10 BWTD_10  BWeor
0      3.0  1010.65    18.60     17.45    63.05    11.4    eor
1      3.0  1010.70    18.60     17.60    62.90    11.4    eor
2      3.0  1010.60    18.60     17.40    63.25    11.5    eor
3      3.0  1010.50    18.60     17.40    63.50    11.5    eor
4      3.0  1010.50    18.60     17.35    63.00    11.4    eor
..     ...      ...      ...       ...      ...     ...    ...
91     3.0  1002.10    23.40     21.20    59.30    15.0    eor
92     3.0  1001.95    23.20     20.65    59.60    14.9    eor
93     3.0  1001.80    23.20     21.00    59.20    14.8    eor
94     3.0  1001.75    23.45     21.25    58.35    14.8    eor
95     3.0  1001.60    23.30     21.10    58.90    14.8    eor

[96 rows x 64 columns]
            Datum von         Datum bis  \
0    14.07.2018 00:00  14.07.2018 00:15
1    14.07.2018 00:15  14.07.2018 00:30
2    14.07.2018 00:30  14.07.2018 00:45
3    14.07.2018 00:45  14.07.2018 01:00
4    14.07.2018 01:00  14.07.2018 01:15
..                ...               ...
187  15.07.2018 22:45  15.07.2018 23:00
188  15.07.2018 23:00  15.07.2018 23:15
189  15.07.2018 23:15  15.07.2018 23:30
190  15.07.2018 23:30  15.07.2018 23:45
191  15.07.2018 23:45  16.07.2018 00:00

    Gesamt (Netzlast) [MWh] Originalauflösungen            DateTime Land1  \
0                                     11.680,00 2018-07-14 00:00:00   NaN
1                                     11.550,00 2018-07-14 00:15:00   NaN
2                                     11.405,00 2018-07-14 00:30:00   NaN
3                                     11.246,00 2018-07-14 00:45:00   NaN
4                                     11.089,25 2018-07-14 01:00:00   NaN
..                                          ...                 ...   ...
187                                   11.573,25 2018-07-15 22:45:00   NaN
188                                   11.368,50 2018-07-15 23:00:00   NaN
189                                   11.209,75 2018-07-15 23:15:00   NaN
190                                   11.013,25 2018-07-15 23:30:00   NaN
191                                   10.865,25 2018-07-15 23:45:00   NaN

    Land2 Runde Liga Land3 Land4  ...  BWeor_y  BWSTATIONS_ID  BWMESS_DATUM  \
0     NaN   NaN  NaN   NaN   NaN  ...      eor          433.0  2.018071e+11
1     NaN   NaN  NaN   NaN   NaN  ...      eor          433.0  2.018071e+11
2     NaN   NaN  NaN   NaN   NaN  ...      eor          433.0  2.018071e+11
3     NaN   NaN  NaN   NaN   NaN  ...      eor          433.0  2.018071e+11
4     NaN   NaN  NaN   NaN   NaN  ...      eor          433.0  2.018071e+11
..    ...   ...  ...   ...   ...  ...      ...            ...           ...
187   NaN   NaN  NaN   NaN   NaN  ...      eor          433.0  2.018072e+11
188   NaN   NaN  NaN   NaN   NaN  ...      eor          433.0  2.018072e+11
189   NaN   NaN  NaN   NaN   NaN  ...      eor          433.0  2.018072e+11
190   NaN   NaN  NaN   NaN   NaN  ...      eor          433.0  2.018072e+11
191   NaN   NaN  NaN   NaN   NaN  ...      eor          433.0  2.018072e+11

     BW  QN  BWPP_10  BWTT_10  BWTM5_10  BWRF_10 BWTD_10  BWeor
0       3.0  1012.30    18.10     15.55    76.80   13.95    eor
1       3.0  1012.30    18.00     16.00    78.10   14.10    eor
2       3.0  1012.30    17.95     16.05    79.00   14.25    eor
3       3.0  1012.40    17.80     15.90    79.70   14.20    eor
4       3.0  1012.45    17.70     15.60    80.35   14.25    eor
..      ...      ...      ...       ...      ...     ...    ...
187     3.0  1010.30    17.50     10.50    77.10   13.40    eor
188     3.0  1010.40    17.60     10.60    77.30   13.55    eor
189     3.0  1010.40    17.30     10.30    78.10   13.50    eor
190     3.0  1010.25    16.95     10.95    82.35   13.95    eor
191     3.0  1010.40    16.90     10.60    82.40   13.90    eor

[192 rows x 64 columns]
           Datum von         Datum bis  \
0   11.07.2021 00:00  11.07.2021 00:15
1   11.07.2021 00:15  11.07.2021 00:30
2   11.07.2021 00:30  11.07.2021 00:45
3   11.07.2021 00:45  11.07.2021 01:00
4   11.07.2021 01:00  11.07.2021 01:15
..               ...               ...
91  11.07.2021 22:45  11.07.2021 23:00
92  11.07.2021 23:00  11.07.2021 23:15
93  11.07.2021 23:15  11.07.2021 23:30
94  11.07.2021 23:30  11.07.2021 23:45
95  11.07.2021 23:45  12.07.2021 00:00

   Gesamt (Netzlast) [MWh] Originalauflösungen            DateTime Land1  \
0                                    10.424,25 2021-07-11 00:00:00   NaN
1                                    10.268,25 2021-07-11 00:15:00   NaN
2                                    10.116,25 2021-07-11 00:30:00   NaN
3                                     9.997,75 2021-07-11 00:45:00   NaN
4                                     9.839,00 2021-07-11 01:00:00   NaN
..                                         ...                 ...   ...
91                                   12.060,00 2021-07-11 22:45:00   NaN
92                                   11.943,25 2021-07-11 23:00:00   NaN
93                                   11.795,50 2021-07-11 23:15:00   NaN
94                                   11.620,00 2021-07-11 23:30:00   NaN
95                                   11.508,25 2021-07-11 23:45:00   NaN

   Land2 Runde Liga Land3 Land4  ...  BWeor_y  BWSTATIONS_ID  BWMESS_DATUM  \
0    NaN   NaN  NaN   NaN   NaN  ...      eor          433.0  2.021071e+11
1    NaN   NaN  NaN   NaN   NaN  ...      eor          433.0  2.021071e+11
2    NaN   NaN  NaN   NaN   NaN  ...      eor          433.0  2.021071e+11
3    NaN   NaN  NaN   NaN   NaN  ...      eor          433.0  2.021071e+11
4    NaN   NaN  NaN   NaN   NaN  ...      eor          433.0  2.021071e+11
..   ...   ...  ...   ...   ...  ...      ...            ...           ...
91   NaN   NaN  NaN   NaN   NaN  ...      eor          433.0  2.021071e+11
92   NaN   NaN  NaN   NaN   NaN  ...      eor          433.0  2.021071e+11
93   NaN   NaN  NaN   NaN   NaN  ...      eor          433.0  2.021071e+11
94   NaN   NaN  NaN   NaN   NaN  ...      eor          433.0  2.021071e+11
95   NaN   NaN  NaN   NaN   NaN  ...      eor          433.0  2.021071e+11

    BW  QN  BWPP_10  BWTT_10  BWTM5_10  BWRF_10 BWTD_10  BWeor
0      3.0  1010.95    17.15     11.85    80.65   13.80    eor
1      3.0  1010.80    17.00     11.90    81.30   13.80    eor
2      3.0  1010.85    16.85     11.55    81.95   13.75    eor
3      3.0  1010.80    16.60     11.40    81.50   13.40    eor
4      3.0  1010.80    16.25     11.15    82.45   13.25    eor
..     ...      ...      ...       ...      ...     ...    ...
91     3.0  1009.70    20.60     18.70    74.40   15.90    eor
92     3.0  1009.85    20.55     18.35    75.10   16.00    eor
93     3.0  1009.90    20.40     17.80    75.80   16.00    eor
94     3.0  1009.80    20.35     17.70    76.10   16.00    eor
95     3.0  1009.70    20.00     16.90    77.30   15.90    eor

[96 rows x 64 columns]